@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    font-size: calc(0.5em + 0.5vw);
    font-family: 'DM Mono';
}

.layout {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
}

/* header start ↓ */
.header {
    width: 100%;
    height: 5%;
    position: fixed;
    top: 0;
    display: flex;
    background-color: #296fbb;
    z-index: 999999;
}

/* logo start */
.logo_container {
    width: 6%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 10px;
}

.logo {
    width: 6em;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    cursor:pointer;
}

/* logo end */

/* empty container header start */
.empty_container_header {
    width: 81%;
    height: 100%;
}
/* empty container header end */

/* login begin */
.login_container {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_button {
    font-size: 0.6rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    /* border-radius: 10px; */
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
}

.login_button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}
/* login end */

/* account button start */
.account_container {
    width: 3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.account{
    width: 40px;
    height: 40x;
    margin-top: 3px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fafafa;
}
/* account button end */

/* header end */


/* main begin */
.main {
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    background-color: #000A12;
}

/* empty container main start */
.empty_container_main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px
}
/* empty container main end */

/* slideshow start */
.slide_container {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* Slideshow container */
.slideshow_container {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
}

/* Image size */
.mySlides img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fafafa;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little transparency */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #fafafa;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px;
    }
}
/* slideshow end */

/* category panel start */
.category_container {
    width: 100%;
    height: auto;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    display: flex;
    justify-content: space-around; 
    padding: 20px; 
}

.item {
    min-width: 300px;
    min-height: 300px;
    box-sizing: border-box;
    text-align: center;
}

/* content card start */

.brutalist-card {
    width: 320px;
    border: 4px solid #fafafa;
    background-color: #252525;
    padding: 1.5rem;
    box-shadow: 10px 10px 0 #fafafa;
    font-family: "DM Mono";
  }

  .brutalist-card__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #fafafa;
    padding-bottom: 1rem;
  }
    
  .brutalist-card__actions {
    margin-top: 1rem;
  }
  
  .brutalist-card__button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid #fafafa;
    background-color: #252525;
    color: #fafafa;
    position: relative;
    transition: all 0.2s ease;
    box-shadow: 5px 5px 0 #fafafa;
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 1rem;
  }
    
  .brutalist-card__button--mark:hover {
    background-color: #296fbb;
    border-color: #296fbb;
    color: #fff;
    box-shadow: 7px 7px 0 #004280;
  }
  .brutalist-card__button:active {
    transform: translate(5px, 5px);
    box-shadow: none;
  }
  

/* content card end */

/* category panel end */

/* main end */

/* footer begin */
.footer {
    width: 100%;
    height: 3%; /* Cambia la altura a un valor fijo en píxeles */
    position: fixed;
    bottom: 0;
    background-color: #004280;
    padding-top:5px;
    text-align: center;
    color:#fafafa;
}

/* footer end */
