@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Mono', monospace;
}


body {
    font-size: calc(0.5em + 0.5vw);
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color:#252525;
}

.layout {
    width: 100vw;
    padding: 4vw 0vw 0vw 0vw;
    display: grid;
    grid-template-rows: auto auto auto;
}

/* header styles */
.header {
    width: 100vw;
    max-height:7vh;
    background-color: #296fbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 1.333vw 0vw 1.333vw;
    color: white;
    position: fixed; 
    top: 0;
    z-index: 1;
}

/* logo container */
.logo_container {
    width: 9vw;
    height:7vh;
    padding: 0.5vw 0vw 0vw 0vw;
    display: flex;
    align-items: center;
}

.logo {
    min-width: 4vw;
    max-width: 5vw;
    cursor: pointer;
}

/* title container */
.title_container {
    flex-grow: 1;
    text-align: center;
    color: #fafafa;
    font-size: 1.5em;
}

.login_container {
    width: 16vw;
    height:7vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0vw 1vw 0vw 0vw;
}

.login_button {
    font-size: 1rem;
    font-weight: 500;
    color: #FAFAFA;
    padding: 4px 8px;
    border: 2px solid #FAFAFA;
    background-color: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
}

.login_button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.account_container {
    width: 3vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account {
    min-width: 1vw;
    max-width: 2.5vw;
    border-radius: 50%;
    background-color: #fafafa;
    cursor: pointer;
}

/* account button end */

/* header end */

/* main begin */
.main {
    flex-grow: 1; 
    width: 100%;
    padding:0px 25px 0px 25px;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* slideshow start */

/* Slideshow container */
.slideshow_container {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
}



/* Image size */
.mySlides img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fafafa;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #fafafa;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 10, 10);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 300px;
    margin: 0 auto; 
}


.item img {
    width: 100%; 
    height: auto;
    border-radius: 5px;
}


/* slideshow end */

/* category panel start */
.category_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: space-around;
    padding: 20px 1px 30px 1px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

/* content card start */

.brutalist-card {
    width: 250px;
    border: 4px solid #fafafa;
    background-color: #252525;
    padding: 1.3rem;
    box-shadow: 10px 10px 0 #fafafa;
    font-family: "DM Mono", monospace;
}

.brutalist-card__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #fafafa;
    padding-bottom: 0.5rem;
}

.brutalist-card__actions {
    margin-top: 1rem;
}

.brutalist-card__button {
    display: block;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    border: 3px solid #fafafa;
    background-color: #252525;
    color: #fafafa;
    position: relative;
    transition: all 0.2s ease;
    box-shadow: 5px 5px 0 #fafafa;
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.brutalist-card__button--mark:hover {
    background-color: #296fbb;
    border-color: #296fbb;
    color: #fff;
    box-shadow: 7px 7px 0 #004280;
}
.brutalist-card__button:active {
    transform: translate(5px, 5px);
    box-shadow: none;
}

/* content card end */

/* category panel end */

/* store_layout start */
.store_layout {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin: 2%;
    align-items: flex-start;
    justify-content: center;
}
/* store_layout end */

/* product_layout start */

.product_layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    padding-top:200px ;
}
    
.product{
    padding: 100px;
    border-radius:50px;
    border:2px solid #252525;
    background-color: yellow;
    text-align: center;
}

.photo {
    grid-column: span 5 / span 5;  
    height: 20px;  
}

.map {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
}

.p_1 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.p_2 {
    grid-column-start: 4;
    grid-row-start: 2;
}

.p_3 {
    grid-column-start: 5;
    grid-row-start: 2;
}

.p_4 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.p_5 {
    grid-column-start: 4;
    grid-row-start: 3;
}

.p_6 {
    grid-column-start: 5;
    grid-row-start: 3;
}

.p_7 {
    grid-row-start: 4;
}

.p_8 {
    grid-row-start: 4;
}

.p_9 {
    grid-row-start: 4;
}

.p_10 {
    grid-row-start: 4;
}

.p_11 {
    grid-row-start: 4;
}

.comments {
    grid-column: span 5 / span 5;
    grid-row-start: 5;
}
        
/* product_layout start */

/* footer start */
.footer {
    width: 100%;
    height: auto; /* Adjust to fit content */
    position: fixed;
    bottom: 0;
    background-color: #004280;
    padding: 10px;
    text-align: center;
    color: #fafafa;
}
/* footer end */

/* organizar css */
/* agregar disqus */
/* https://www.youtube.com/watch?v=Dr6pSdeJgkA */
/* https://www.youtube.com/watch?v=a-V7OIi1NWw */
/* terminar Plantilla */
/* separar css independiente */
/* integrar sistema de cuentas de google */
