@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#fullDiv {
    width: 100%;
    height: 100%;
    font-family: 'DM Mono';
}

.container {
    width: 100%;
    height: 100%;
    --s: 200px; 
    --c1: #004280;
    --c2: #296fbb;
    --c3: #CDE8FF;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
}

/* From Uiverse.io by andrew-demchenk0 */

.blue-square {
  height: 100vh; 
  width: 100vw; 
  background-color: rgba(78,98,127, 0.4); /* Color azul oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Rest of the CSS */

.wrapper {
  --input-focus: #2d8cf0;
  --font-color: #fafafa;
  --font-color-sub: #7e7e7e;
  --bg-color: #004280;
  --bg-color-alt: #7e7e7e;
  --main-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Hace que el contenedor tenga el 100% de la altura de la ventana */
}

.switch {
transform: translateY(-200px);
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
width: 50px;
height: 20px;
}

.card-side::before {
position: absolute;
content: 'Inicio';
left: -70px;
top: 0;
width: 100px;
text-decoration: underline;
color: var(--font-color);
font-weight: 600;
}

.card-side::after {
position: absolute;
content: 'Registro';
left: 70px;
top: 0;
width: 100px;
text-decoration: none;
color: var(--font-color);
font-weight: 600;
}

.toggle {
opacity: 0;
width: 0;
height: 0;
}

.slider {
box-sizing: border-box;
border-radius: 5px;
border: 2px solid var(--main-color);
box-shadow: 4px 4px var(--main-color);
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--bg-color);
transition: 0.3s;
}

.slider:before {
box-sizing: border-box;
position: absolute;
content: "";
height: 20px;
width: 20px;
border: 2px solid var(--main-color);
border-radius: 5px;
left: -2px;
bottom: 2px;
background-color: var(--bg-color);
box-shadow: 0 3px 0 var(--main-color);
transition: 0.3s;
}

.toggle:checked + .slider {
background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
transform: translateX(30px);
}

.toggle:checked ~ .card-side:before {
text-decoration: none;
}

.toggle:checked ~ .card-side:after {
text-decoration: underline;
}

/* card */ 

.flip-card__inner {
width: 300px;
height: 350px;
position: relative;
background-color: transparent;
perspective: 1000px;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card__inner {
transform: rotateY(180deg);
}

.toggle:checked ~ .flip-card__front {
box-shadow: none;
}

.flip-card__front, .flip-card__back {
padding: 20px;
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
background: var(--bg-color);
gap: 20px;
border-radius: 5px;
border: 2px solid var(--main-color);
box-shadow: 4px 4px var(--main-color);
}

.space-input {
  visibility: hidden; /* No es visible en la interfaz */
  height: 40px; /* Altura igual a la de los otros inputs para crear espacio */
  margin-bottom: 0px; /* Espacio inferior para separación */
  pointer-events: none; /* No permite interacción con el mouse o teclado */
}

.flip-card__back {
width: 100%;
transform: rotateY(180deg);
}

.flip-card__form {
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}

.title {
margin: 20px 0 20px 0;
font-size: 25px;
font-weight: 900;
text-align: center;
color: var(--main-color);
}

.flip-card__input {
width: 250px;
height: 40px;
border-radius: 5px;
border: 2px solid var(--main-color);
background-color: var(--bg-color);
box-shadow: 4px 4px var(--main-color);
font-size: 15px;
font-weight: 600;
color: var(--font-color);
padding: 5px 10px;
outline: none;
}

.flip-card__input::placeholder {
color: var(--font-color-sub);
opacity: 0.8;
}

.flip-card__input:focus {
border: 2px solid var(--input-focus);
}

.flip-card__btn:active, .button-confirm:active {
box-shadow: 0px 0px var(--main-color);
transform: translate(3px, 3px);
}

.flip-card__btn {
margin: 20px 0 20px 0;
width: 120px;
height: 40px;
border-radius: 5px;
border: 2px solid var(--main-color);
background-color: var(--bg-color);
box-shadow: 4px 4px var(--main-color);
font-size: 17px;
font-weight: 600;
color: var(--font-color);
cursor: pointer;
}
